@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .npf_wgts iframe {
    box-shadow: none !important;
  }

  .heroBannerForm__form {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    padding-top: 40px;

    height: 583px;
    position: relative;
  }

  .heroBannerForm-header {
    text-align: center;
    font-family: "Poppins", sans-serif !important;
  }

  .heroBannerForm-header h3 {
    font-weight: 100;
    font-size: 18px;
    line-height: 1;
  }
  .heroBannerForm-header h3 span {
    display: block;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.1;
    margin-top: 5px;
  }
  .prominentrecruitShadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .promrecCard {
    position: relative;
  }
  .promrecCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 18s linear infinite;
  }

  .prominent_card:nth-child(even) .prom_img_container {
    background-color: #fef7ec;
  }
  .prominent_card:nth-child(odd) .prom_img_container {
    background-color: #f4f2fc;
  }
}
