@layer utilities {
  .krmu_single_blog p {
    margin-bottom: 20px;
  }
  .krmu_single_blog_sidebar .singleblog_title {
    color: #e50914;
    font-weight: 700;
    position: relative;
    display: inline-block;
    font-size: 24px;
    position: relative;
    margin: 0 0 10px 0px;
  }
  /*
  .krmu_single_blog_sidebar .singleblog_title::after {
    content: "" !important;
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 4px !important;
    width: 45px !important;
    background: linear-gradient(to right, #d50000, #0000ff) !important;
    border-radius: 2px !important;
  } */

  .single_title_list {
    padding: 7px;
    margin-bottom: 3.5px;
  }
  .singleblog_num {
    width: 23px;
    height: 23px;
    background: linear-gradient(to right, #ff0000cc, #022fffcf);
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    flex-shrink: 0;
  }
  .single_title_list {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .singleblog_h2_list {
    margin: 0px;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
    font-weight: 800;
  }

  .singleblog_divider {
    width: calc(0.25rem * 16);
    height: calc(0.25rem * 1);
    background: #006bd6;
    background: linear-gradient(
      90deg,
      rgba(0, 107, 214, 1) 0%,
      rgba(194, 17, 17, 1) 100%
    );
    margin-bottom: 14px;
  }

  .singleblog_sidebar_container {
    padding: 21px;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    border: 1px solid #f3f4f6;
    border-radius: 8px;
  }

  .right_sidebar_singlepost_container {
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
  .blog-table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .blogcattitle {
    font-size: 24px;
    line-height: 1.2;
    color: #ff0000;
    font-weight: 800;
    margin: 0 0 10px 0px;
  }

  .krmu_single_blog {
    line-height: 30px;
  }

  .krmu_single_blog ol {
    margin: 16px 0px;
    padding-left: 40px;
    line-height: 1.6;
    list-style: decimal;
  }

  .all_cat_container {
    position: relative;
    padding: 7px 0px;
  }
  .singlepost_right_sidebar_dot {
    width: 0.5rem;
    height: 0.5rem;
    background: linear-gradient(to right, #dc2626, #2563eb);
    border-radius: 9999px;
    transition: all 0.3s ease;
  }
  .singlepost_right_sidebar_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #f9fafb, #ffffff);
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 7px;
  }
  .singlepost_right_sidebar_card_left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  .singlepost_right_sidebar_card:hover {
    background: linear-gradient(to right, #fef2f2, #eff6ff);
    border-color: #fca5a5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
  }
  .singlepost_right_sidebar_text {
    color: #374151;
    transition: color 0.3s ease;
    line-height: 1.2;
    font-size: 12px;
  }
  .singlepost_right_sidebar_card:hover .singlepost_right_sidebar_dot {
    width: 0.75rem;
    height: 0.75rem;
  }
  .singlepost_right_sidebar_card:hover .singlepost_right_sidebar_text {
    color: #dc2626;
  }
  .all_cat__inner-container {
    max-height: calc(0.25rem * 80);
    padding: 7px 0px;
    overflow-y: auto;
  }

  .krmu_single_blog h2 {
    color: #e50914;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 32px;
    position: relative;
    margin: 10px 0 10px 0px;
  }

  .krmu_single_blog h2::after {
    content: "" !important;
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 4px !important;
    width: 45px !important;
    background: linear-gradient(to right, #d50000, #0000ff) !important;
    border-radius: 2px !important;
  }
  .krmu_single_blog h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .krmu_single_blog a {
    color: #af406a;
  }

  .krmu_single_blog h4 {
    margin: 0 0 10px 0px;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 600;
  }

  .krmu_single_blog ul {
    padding-left: 40px;
    list-style: disc;
    margin: 16px 0px;
  }
  .krmu_single_blog ul li,
  .krmu_single_blog ul li span {
    font-size: 16px;
    line-height: 30px;
  }
  .krmu_single_blog table {
    width: 100%;
  }
  .krmu_single_blog table th {
    background: linear-gradient(
      68deg,
      rgb(5 102 200 / 99%) 0%,
      rgb(187 37 37) 100%
    );
    font-weight: bold;
    color: #ffffff;
    line-height: 1.2;
    padding: 8px 15px;
    border: 1px solid #ddd;
  }
  .krmu_single_blog table tr:nth-child(even) {
    background-color: #f9f9f9 !important;
  }

  .krmu_single_blog table td {
    font-size: 13px;
    padding: 8px 15px;
  }
  .krmu_single_blog table p {
    margin: 0;
  }

  .krmu_single_blog table td,
  .krmu_single_blog table th {
    padding: 8px 15px !important;
    border: 1px solid #ddd !important;
    /* text-align: left !important; */
  }

  .krmu_single_blog table tr:hover {
    background-color: #f1f1f1 !important;
  }

  .single_blog_author_container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .single_blog_author_image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .single_blog_author_info {
    display: flex;
    flex-direction: column;
  }

  .single_blog_author_info .author_name {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  .single_blog_author_info .author_name a {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  .single_blog_author_info span {
    line-height: 1.2;
  }

  .single_blog_author_info .author_designation {
    font-size: 13px;
    color: #fff;
  }
}
