@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .redGradient {
    background: linear-gradient(81.97deg, #ff0000 -49.37%, #ff7f7f 143.54%);
  }

  .statsbg {
    @apply bg-[#e31e24] text-white rounded-[15px] p-5 sm:p-10 text-xl sm:text-2xl 2xl:text-3xl text-center;
  }
  .semce_main_container p {
    @apply mb-5 text-xl;
  }

  .instrument-serif {
    font-family: "Instrument Serif";
  }

  .league-gothic {
    font-family: "League Gothic", sans-serif;
  }
  .learnbyCreatingCard {
    @apply flex flex-col gap-5 items-center text-center justify-center p-5 md:p-10 text-white rounded-2xl;
  }
}
