@layer utilities {
  .student_welfare-tab-scroll {
    display: flex;
    height: 100vh;
  }

  .student_welfare-tab-content__title {
    text-align: center;
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 30px;
    color: #134080;
    font-weight: 600;

    /* overflow-y-auto max-h-[80vh] relative */
  }

  .student_welfare-tab-scroll .student_welfare-sidebar {
    width: 30%;
  }

  ul.student_welfare-sidebar__list {
    list-style: none;
    padding: 0;
  }

  li.student_welfare-sidebar__item {
    padding: 5px 15px;
    display: block;
    cursor: pointer;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  li.student_welfare-sidebar__item.active {
    font-weight: 600;
    color: #3383fa;
    border-left: 3px solid #3383fa;
  }

  .student_welfare-tab-scroll .student_welfare-tab-content {
    width: 70%;
    overflow-y: auto;
    max-height: 80vh;
    position: relative;
  }

  .student_welfare-tab-scroll .student_welfare-tab-content {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .student_welfare-tab-scroll
    .student_welfare-tab-content
    .student_welfare-tab-content__container {
    padding: 2.5rem;
    margin-bottom: 3.5rem;
    background: #dbe8ff;
    border-radius: 15px;
  }
  .student_welfare-col-img-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .student_welfare-col-img-container img {
    border-radius: 15px;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .student_welfare-tab-content__text-wrapper {
    margin-top: 20px;
  }
  .student_welfare-tab-content__text-wrapper ul {
    list-style: disc;
    padding-left: 40px;
    margin: 10px 0px;
  }
  .student_welfare-sports_club.student_welfare-cards {
    margin-top: 20px;
  }

  /* From Uiverse.io by vamsidevendrakumar */
  .student_welfare-sports_club .student_welfare-card {
    cursor: pointer;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .student_welfare-card > * {
    box-sizing: border-box;
  }

  .student_welfare-card-front h4 {
    color: #fff !important;
  }

  .student_welfare-card-inner {
    min-height: 460px;
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 0.999s;
    transition:
      transform 0.999s,
      -webkit-transform 0.999s;

    color: #fff;
  }

  .student_welfare-card:hover .student_welfare-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .student_welfare-card-front .student_welfare-sports-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .student_welfare-card-front {
    width: 100%;
    min-height: 460px;
    height: 100%;
  }

  /* Shared styles */
  .student_welfare-card-front,
  .student_welfare-card-back {
    position: absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  .student_welfare-card-front .student_welfare-sports-icon img {
    width: 50px;
    margin-bottom: 20px;
  }

  .student_welfare-card-front {
    background-color: #133e87;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .student_welfare-sports_club p {
    font-size: 14px;
    line-height: 1.5;
  }

  .student_welfare-sports_club .student_welfare-card-back {
    background: #091057;

    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    padding: 30px;
    width: 100%;
    min-height: 460px;
    height: 100%;
  }

  .student_welfare-sports_club {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    .student_welfare-sports_club {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .student_welfare-tab-scroll .student_welfare-sidebar {
      display: none;
    }
    .student_welfare-tab-scroll .student_welfare-tab-content {
      max-height: 100%;
      height: 100%;
      width: 100%;
    }
    .student_welfare-tab-scroll
      .student_welfare-tab-content
      .student_welfare-tab-content__container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media (max-width: 576px) {
    .student_welfare-sports_club {
      grid-template-columns: 1fr;
    }
  }
  .student_welfare-container {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  /* Student Welfare */
  .student_welfare-clubcontent p {
    margin-bottom: 20px;
  }
}
