@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --university-red: red;
  --university-blue: #00f;
  --university-white: #fff;
  --primary-bg: #051630;
  --bg-hover-1: #034272;
  --color-university-red: var(--university-red);
  --color-university-blue: var(--university-blue);
}

/* Custom utility class */
@layer utilities {
  .primary {
    background: red;
    padding: 8px 5px;
    border-radius: 5px;
  }
  /* globals.css */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .tick-li ul {
    margin-left: 40px;
  }
  .tick-li ul li {
    list-style: none;
    position: relative;
    margin-bottom: 20px;
  }

  .tick-li ul li::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: url("/white-circle-check-big.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: -40px;
  }

  .buttonPrevNextSize svg {
    width: 55px !important;
    height: 55px !important;
    stroke-width: 1px;
  }
  .homebg-grad {
    position: relative;
  }

  .homebg-grad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0060aa80 41%, #e31e2480 74%);
    /* background-color: red; */
  }

  .faculty-post-card-image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .mobacc svg {
    display: none;
  }
  .faculty-with-advisory {
    border-radius: 48px;
    background: #ebecec;
    box-shadow: 0px 1.30061px 2.21381px 0px rgba(0, 0, 0, 0.01),
      0px 3.12555px 5.32008px 0px rgba(0, 0, 0, 0.02),
      0px 5.88513px 10.01724px 0px rgba(0, 0, 0, 0.03),
      0px 10.49806px 17.86905px 0px rgba(0, 0, 0, 0.03),
      0px 19.63548px 33.42209px 0px rgba(0, 0, 0, 0.04),
      0px 47px 80px 0px rgba(0, 0, 0, 0.05);
  }

  .from-blue-50 {
    --tw-gradient-from: var(--color-blue-50);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .from-blue-100 {
    --tw-gradient-from: var(--color-blue-100);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .from-blue-200 {
    --tw-gradient-from: var(--color-blue-200);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .from-purple-200 {
    --tw-gradient-from: var(--color-purple-200);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .from-red-200 {
    --tw-gradient-from: var(--color-red-200);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .from-university-blue {
    --tw-gradient-from: var(--university-blue);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .from-university-red {
    --tw-gradient-from: var(--university-red);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .via-black\/20 {
    --tw-gradient-via: #0003;
    --tw-gradient-via-stops: var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .via-black\/20 {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--color-black) 20%,
        transparent
      );
    }
  }

  .via-blue-100 {
    --tw-gradient-via: var(--color-blue-100);
    --tw-gradient-via-stops: var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  .via-orange-100 {
    --tw-gradient-via: var(--color-orange-100);
    --tw-gradient-via-stops: var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  .via-purple-100 {
    --tw-gradient-via: var(--color-purple-100);
    --tw-gradient-via-stops: var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  .via-white {
    --tw-gradient-via: var(--color-white);
    --tw-gradient-via-stops: var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  .to-blue-200 {
    --tw-gradient-to: var(--color-blue-200);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-cyan-100 {
    --tw-gradient-to: var(--color-cyan-100);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-pink-100 {
    --tw-gradient-to: var(--color-pink-100);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-red-50 {
    --tw-gradient-to: var(--color-red-50);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-red-600 {
    --tw-gradient-to: var(--color-red-600);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-slate-50 {
    --tw-gradient-to: var(--color-slate-50);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-transparent {
    --tw-gradient-to: transparent;
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-university-blue {
    --tw-gradient-to: var(--university-blue);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .to-university-red {
    --tw-gradient-to: var(--university-red);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  .bg-primary {
    background-color: var(--primary-bg);
  }
  .bg-primary:hover {
    background-color: var(--bg-hover-1);
  }
  .grad-text-color {
    background: -webkit-linear-gradient(0deg, #0060aa 0.43%, #e31e24 91.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .advisory-zoom-img {
    -webkit-transform: translate3d(0, 0, 0);
    position: relative;
  }
  .advisory-zoom-img::before {
    content: "";
    background: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
  }
  .advisory-zoom-img img {
    transition: opacity 1s, transform 1s;
  }
  .advisory-zoom-img:hover img {
    opacity: 0.9;
    transform: scale3d(1.1, 1.1, 1);
  }

  .grad-text-color-2 {
    background: linear-gradient(
      91deg,
      #051630 2.47%,
      #0060aa 40.77%,
      #e31e24 82.76%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Inside your global CSS file */
  .bg-grad-1 {
    background-image: linear-gradient(
      280.68deg,
      #aa182c 3.8%,
      #0060aa 60.66%,
      #00074b 86.63%
    );
  }

  .bg-boxshadow-1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .customlist ul {
    list-style: disc;
    padding-left: 35px;
  }

  .customlist ul li {
    line-height: 2;
  }

  .prog-banner-shade::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .membership-ranking-bg {
    background-image: linear-gradient(180deg, #0944c8 0%, #fefefe 100%);
  }
  .membership-ranking-card {
    box-shadow: 0 0 10px #ccc;
  }

  .bg-university-red {
    background-color: var(--color-university-red);
  }

  .bg-university-blue {
    background-color: var(--color-university-blue);
  }

  .text-university-red {
    color: var(--color-university-red);
  }

  .text-university-blue {
    color: var(--color-university-blue);
  }

  .border-university-red {
    border-color: var(--color-university-red);
  }

  .border-university-blue {
    border-color: var(--color-university-blue);
  }

  .grad-text-color {
    background: -webkit-linear-gradient(0deg, #0060aa 0.43%, #e31e24 91.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Timeline Carousel */

  .timeline-nav__item::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    transition: 0.2s;
  }
  /* .timeline .slick-active .timeline-nav__item::before {
    background-color: #fff;
    content: url("/circle-ring.svg");
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .timeline-slider .slick-slide > div {
    max-width: 950px;
    margin: 0 auto;
  }
  .timeline-nav__item {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.5;
    background: transparent;
    color: #fff;
    margin: 15px 25px !important;
    position: relative;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
  }
  .timeline .slick-list {
    padding-top: 200px !important;
    padding-bottom: 120px !important;
  }
  .timeline-slider .slick-prev {
    left: 11% !important;
    z-index: 99999999999999999999999;
  }
  .timeline-slider .slick-prev:before {
    content: url("/prev-chevron.svg") !important;
  }

  .timeline-slider .slick-next {
    right: 11% !important;
    z-index: 99999999999999999999999;
  }
  .timeline-slider .slick-next:before {
    content: url("/next-chevron.svg") !important;
  }

  .timelinetext-bg {
    border-radius: 0px 25px 25px 0px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.0549) 100%
    );
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: opacity 1s;
  }
  .timeline .slick-track .slick-current .timeline-nav__item::before {
    background-color: #fff;
    content: url(/circle-ring.svg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .timeline .slick-track .slick-current .timeline-nav__item {
    color: #fff;
    opacity: 1;
  }

  .timeline .slick-list {
    top: 156px !important;
  }

  @media (max-width: 1440px) {
    .timeline .slick-list {
      top: 106px !important;
    }
  }
  .timeline-content-container .timeline-content {
    margin-left: -20px;
  }
  .timeline-content-container .timeline-image img {
    width: 100%;
  }
  @media (max-width: 768px) {
    .timeline .slick-list {
      top: 0px !important;
    }
  }
  @media (max-width: 440px) {
    .timeline-content-container .timeline-content {
      margin-left: 0px;
      margin-top: -20px;
    }
  }
  /* @media(max-width: ) */

  @media (max-width: 1280) {
    .timeline-slider .slick-prev {
      left: 5% !important;
    }
    .timeline-slider .slick-next {
      right: 5%;
    }
  }
  @media (max-width: 1100px) {
    .timeline-slider .slick-prev {
      top: 100% !important;
      left: 20% !important;
    }
    .timeline-slider .slick-next {
      top: 100% !important;
      right: 20% !important;
    }
  }

  @media (max-width: 992px) {
    .timeline-slider .slick-prev {
      top: 100% !important;
    }
    .timeline-slider .slick-next {
      top: 100% !important;
    }
  }
  /* @media (max-width: 640px) {
    .timelinetext-bg {
      border-radius: 0px 0px 25px 25px;
    }
  } */
  @media (max-width: 576px) {
    .timeline-image {
      width: 55%;
    }
    .timeline-content {
      width: 45%;
    }
    .timeline-slider .slick-prev,
    .timeline-slider .slick-next {
      top: 114% !important;
    }
  }
  @media (max-width: 440px) {
    .timeline-content-container {
      flex-direction: column;
    }
    .timeline-content-container .timeline-image {
      width: 100% !important;
    }
    .timeline-content-container .timeline-content {
      width: 100% !important;
      border-radius: 0;
      /* margin-top: -25px; */
      border-radius: 0px 0px 25px 25px;
    }
  }
  .ln1::after {
    content: "";
    position: absolute;
    top: -24%;
    left: 50%;
    transform: rotate(10.5deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln2::after {
    content: "";
    position: absolute;
    top: -103%;
    left: 50%;
    transform: rotate(3deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln3::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 50%;
    transform: rotate(3deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln4::after {
    content: "";
    position: absolute;
    top: -178%;
    left: 50%;
    transform: rotate(355deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln5::after {
    content: "";
    position: absolute;
    top: -170%;
    left: 50%;
    transform: rotate(355deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln6::after {
    content: "";
    position: absolute;
    top: -80%;
    left: 50%;
    transform: rotate(4deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln7::after {
    content: "";
    position: absolute;
    top: -98%;
    left: 50%;
    transform: rotate(3deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln8::after {
    content: "";
    position: absolute;
    top: -152%;
    left: 50%;
    transform: rotate(357deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln9::after {
    content: "";
    position: absolute;
    top: -130%;
    left: 50%;
    transform: rotate(360deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln10::after {
    content: "";
    position: absolute;
    top: -127%;
    left: 50%;
    transform: rotate(360deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln11::after {
    content: "";
    position: absolute;
    top: -128%;
    left: 50%;
    transform: rotate(360deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  .ln12::after {
    content: "";
    position: absolute;
    top: -170%;
    left: 50%;
    transform: rotate(355deg);
    width: 130%;
    border-top: 1px dashed #fff;
  }

  .timeline-nav__item.ln1 {
    top: -60px;
  }

  .timeline-nav__item.ln3 {
    top: 15px;
  }

  .timeline-nav__item.ln4 {
    top: 30px;
  }

  .timeline-nav__item.ln6 {
    top: -26px;
  }

  .timeline-nav__item.ln8 {
    top: 15px;
  }

  .ln1::after {
    content: "";
    position: absolute;
    top: -22%;
    left: 50%;
    transform: rotate(11deg);
    width: 100%;
    border-top: 1px dashed #fff;
  }

  @media (max-width: 768px) {
    .timeline .slick-list {
      padding-top: 150px !important;
      padding-bottom: 50px !important;
    }
  }

  /* Timeline Carousel */

  /* School Styles */

  .ic_list ul {
    list-style-image: url("/schools/checked-1.svg");
    padding-left: 25px;
  }

  /* School Styles */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --font-size: 16px;
  --background: #fff;
  --foreground: oklch(0.145 0 0);
  --card: #fff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #fff;
  --border: #0000001a;
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --university-red: red;
  --university-blue: #00f;
  --university-white: #fff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
