@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .prominentrecruitShadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .lpul ul {
    list-style: inside;
  }

  .promrecCard {
    position: relative;
  }
  .promrecCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .feeStructTableContainer table thead tr,
  .feeStructTableContainer table td {
    border: 1px solid #cfcfcf;
  }

  .testicardShadowoverlay {
    position: relative;
  }

  .testicardShadowoverlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .landingpagePrevArrow,
  .landingpageNextArrow,
  .scholarPagePrevArrow,
  .scholarPageNextArrow {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .landingpagePrevArrow svg,
  .landingpageNextArrow svg,
  .scholarPagePrevArrow svg,
  .scholarPageNextArrow svg {
    display: none;
  }

  .landingpagePrevArrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: url("/landingpage/common/move-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .landingpageNextArrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: url("/landingpage/common/move-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .scholarPagePrevArrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: url("/landingpage/common/move-left-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .scholarPageNextArrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: url("/landingpage/common/move-right-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .embla__slide {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .highlight-section .npf_wgts {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid red;
  }

  .npf_wgts iframe {
    border-radius: 14px;
    width: 500px !important;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  @media (max-width: 768px) {
    .fixed-top {
      position: static !important;
    }

    .npf_wgts iframe {
      width: 100%;
    }
    .hero_heading {
      font-size: 21px;
      line-height: 1.2;
      padding-top: 200px;
    }
    .hero_heading br {
      display: none;
    }
  }
  /* Mobile version */

  @media (max-width: 640px) {
    .hero_heading {
      color: #fff;
    }
    .npf_wgts iframe {
      width: 400px !important;
    }
  }

  @media (max-width: 768px) {
    .frms999 {
      text-align: center !important;
    }
  }

  @media (max-width: 400px) {
    .npf_wgts iframe {
      width: 100% !important;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 18s linear infinite;
  }
}
